<h1>Sign in</h1>
<div class="form">
  <% form_for :session, :url => session_path do |f| %>
    <fieldset>
      <%= f.label :email, 'E-mail address' %>
      <%= f.text_field :email, :tabindex => '1' %>
      <%= link_to 'Sign up', new_user_path %>
    </fieldset>
    <fieldset>
      <%= f.label :password %>
      <%= f.password_field :password, :tabindex => '2' %>
      <%= link_to 'Forgot password?', new_password_path %>
    </fieldset>
    <p class="checkbox">
      <%= f.check_box :remember_me, :tabindex => '3' %>
      <%= f.label :remember_me %>
    </p>
    <div>
      <%= save_button_tag 'Log in' %>
    </div>
  <% end %>
</div>