<h1>
  <%=h @question.user_exam.exam.name %>
  <span>Completed: <%= @question.user_exam.finished_count %>/<%= @question.exam.questions_count %></span>
</h1>

<div id="countdown" style="float: right; font-size: 12px;"></div>

<div class="exam">
  <% form_for @question do |f| %>
    <div class="title">
      <%=h @question.question.question %>
    </div>
    <div class="question">
      <% (1..5).each do |i| %>
        <% next if @question.question.send("answer_#{i}").blank? %>
        <dl>
          <dt>
            <% if @question.question.single? %>
              <%= radio_button_tag('answers[]', i, false, :id => "answers_#{i}") %><% else %>
              <%= check_box_tag('answers[]', i, false, :id => "answers_#{i}") %><% end %>
          </dt>
          <dd><label for="<%= "answers_#{i}" %>"><%=h @question.question.send("answer_#{i}") %></label></dd>
        </dl>
      <% end %>
    </div>
    <div class="submit">
      <%= save_button_tag 'Answer' %>      
      <% unless @next_question.blank? %>
        <% link_to edit_user_question_path(@next_question), :class => 'button skip' do %>
          Skip question <%= image_tag 'skip.png' %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<% javascript_tag do %>
  document.observe('dom:loaded', function() {
    countdown('countdown', <%= @question.user_exam.time_left %>, function() {
      location.href = "<%= user_exams_path %>";
    });
  });
<% end %>
