	<h1>Questions</h1>
	<div class="exam">
	<% form_for @user_question do |form| %>
		<div class="title"><span>1/10</span><%= @user_question.question.question %></div>
		<% (1..5).each do |i| %>
		<dl>
			<dt>
				<% if @user_question.question.single? %>
					<%= radio_button_tag('answers[]', i, false, :id => "answers_#{i}") %>
				<% else %>
					<%= check_box_tag('answers[]', i, false, :id => "answers_#{i}") %>
				<% end %>
			</dt>
			<dd><%= @user_question.question.send("answer_#{i}".to_sym) %></dd>
		</dl>
		<% end %>
		<%= form.submit 'Answer', :disable_with => 'Please wait...' %>
			<% unless @next_question.blank? %><%= link_to 'Skip question', edit_user_question_path(@next_question) %>
		<% end %>
	<% end %>
	</div>
	
	