		<h1>Password confirmation</h1>
		<div class="form">
			<% form_for(:user, :url => user_password_path(@user, :token    => @user.token), :html => { :method => :put }) do |form| %>
				<p>Your password has been reset. Choose a new password below.</p>
				<%= error_messages_for :user %>
				<fieldset>
					<%= form.label :password, "New password" %>
					<%= form.password_field :password %>
				</fieldset>
				<fieldset>
					<%= form.label :password_confirmation, "Confirm password" %>
					<%= form.password_field :password_confirmation %>
				</fieldset>
				<div>
					<button type="submit">Save and continue</button>
				</div>
			<% end %>
		</div>