<h1>Password confirmation</h1>

<div class="form">
  <% form_for(:user, :url => user_password_path(@user, :token => @user.token), :html => { :method => :put }) do |f| %>
    <p>Your password has been reset. Choose a new password below.</p>
    <%= f.error_messages %>
    <fieldset>
      <%= f.label :password, 'New password' %>
      <%= f.password_field :password %>
    </fieldset>
    <fieldset>
      <%= f.label :password_confirmation, 'Confirm password' %>
      <%= f.password_field :password_confirmation %>
    </fieldset>
    <div>
      <button type="submit">Save and continue</button>
    </div>
  <% end %>
</div>