		<dt><span><%= link_to_if(current_user.admin?, '[ <i>Update</i> ]', edit_exam_path(exam_short.id)) %></span><%= link_to exam_short.name, exam_short %></dt>
		<dd>
			<div><%= exam_short.description %></div>
			<ul>
				<li>Questions: <strong><%= exam_short.question_count %></strong><span>|</span></li>
				<li>Time limit: <strong><%= exam_short.time_limit %> minutes</strong></li>
			</ul>
		</dd>