
<% if current_user.passed?(exam) %>
<dt class="passed">
<% elsif current_user.taken?(exam) %>
<dt class="taken">
<% else %>
<dt>
<% end %>
  <% if_admin? do %>
    <span><%= link_to '[ <i>Edit</i> ]', edit_exam_path(exam) %></span>
  <% end %>
  <%= link_to h(exam.name), exam %>
</dt>
<dd>
  <div><%=h exam.description %></div>
  <ul>
    <li>Questions per attempt:<strong><%= exam.questions_per_attempt %></strong><span>|</span></li>
    <li>Time limit:<strong><%= exam.time_limit %> minutes</strong></li>
  </ul>
</dd>
