
<div class="exams">
  <h6><%= exam_item.name -%></h6>
  <p>><%= exam_item.description-%></p>
  <div><%= exam_item.question_count %>&nbsp;<%= exam_item.time_limit%></div>
  <%=link_to 'Show', exam_item%>
</div>