		<h1>Examination</h1>
		<dl class="exams-list">
			<dt><span><%= link_to_if(current_user.admin?, '[ <i>Update</i> ]', edit_exam_path(exam_full.id)) {} %></span><%= exam_full.name %></dt>
			<dd>
				<div><%= exam_full.description %></div>
				<ul>
					<li>Questions:<strong><%= exam_full.question_count %></strong><span>|</span></li>
					<li>Time limit:<strong><%= exam_full.time_limit %> minutes</strong></li>
				</ul>
			</dd>
		</dl>