<% form_for @exam, :action => 'update' do |form| %>
  <p>
    <%= form.label :name %>:
  </p>
  <p>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :description %>:
  </p>
  <p>
    <%= form.text_field :description %>
  </p>
  <p>
    <%= form.label :time_limit %>:
  </p>
  <p>
    <%= form.text_field :time_limit %>
  </p>
  <p>
    <%= form.submit 'Update' %>
  </p>
<% end %>