<% form_for @exam do |form| %>
  <%= render :partial => 'exam', :locals => {:form => form}  %>
  <%= link_to 'Add Multi Answer Question', new_question_path(:exam_id => @exam.id, :single => false) %>
  |
  <%= link_to 'Add Single Answer Question', new_question_path(:exam_id => @exam.id, :single => true) %>
  <%= render :partial => '/questions/question_list', :collection => @exam.questions, :locals => {:form => form} %>
  <p>
    <%= form.submit 'Update' %>
  </p>
<% end %>