<% form_for @exam do |form| %>
  <p>
    <%= form.label :name, 'Name:'%>
  </p>
  <p>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :description, 'Description:'%>
  </p>
  <p>
    <%= form.text_field :description %>
  </p>
  <p>
    <%= form.label :time_limit, 'Time limitation:'%>
  </p>
  <p>
    <%= form.text_field :time_limit %>
  </p>
  <p>
    <%= form.submit 'Create' %>
  </p>
<% end %>