<h1>Your exams</h1>
<%  @user_exams.each do |exm|%>
<div class="exams">
  <h6><%= exm.exam.name -%></h6>
  <p>><%= exm.exam.description-%></p>
  <div>Finished count:<%=exm.finished_count%>&nbsp;</div>
  <div>Created at:<%=exm.created_at%>&nbsp;Expired:<%=exm.expired?%>&nbsp;Finished:<%=exm.finished?%></div>
  <div><%= exm.exam.question_count %>&nbsp;<%= exm.exam.time_limit%></div>
</div>
<%end%>