<h1>Your exams</h1>

<dl class="exams-list">
  <% @exams.each do |exam| %>
    <dt>
      <span class="count"><%= image_tag("count.png") %> <%= exam.finished_count %>/<%= exam.exam.questions_count %></span>
      <%= exam.exam.name -%>
    </dt>
    <dd>
      <div><%= exam.exam.description -%></div>
      <ul class="history">
        <li>Started at <strong><%= exam.created_at.to_s(:short) %></strong></li>
        <% if exam.finished? %>
        <li>| Finished at <strong><%= exam.finished_at.to_s(:short) %></strong></li>
        <% elsif exam.expired? %>
        <li>| <strong>Expired</strong></li>
        <% else %>
        <li>| Expires in <strong><%= distance_of_time_in_words(exam.time_left) %></strong></li>
        <% end %>
      </ul>
      <ul>
        <li>Questions:<strong><%= exam.exam.questions_count %></strong></li>
        <li>Time limit:<strong><%= exam.exam.time_limit %> minutes</strong></li>
      </ul>
      <% if exam.allow_answer? %>
        <div class="submit">
          <%= image_link_to 'skip.png', 'Continue', edit_user_question_path(exam.current_question) %>
        </div>
      <% else %>
        <% form_for exam.exam.user_exams.build do |f| %>
          <div class="submit">
            <%= f.hidden_field :exam_id %>
            <%= image_button_tag 'start.png', 'Re-take' %>
          </div>
        <% end %>
      <% end %>
      <div class="clear"></div>
    </dd>
  <% end %>
</dl>
