<h1>Your exams</h1>
<dl class="exams-list"><% @user_exams.each do |user_exam| %>
    <dt><span class="count"><img src="/css/count.png" alt="Count" /><%= user_exam.finished_count %>/<%= user_exam.exam.question_count %></span><%= user_exam.exam.name -%></dt>
    <dd>
      <div><%= user_exam.exam.description -%></div>
      <ul class="history">
        <li>Created:<strong><%= user_exam.created_at %></strong><span>|</span></li>
        <li>Expired:<strong><%= user_exam.expired? %></strong><span>|</span></li>
        <li>Finished:<strong><%= user_exam.finished? %></strong></li>
      </ul>
      <ul>
        <li>Questions:<strong><%= user_exam.exam.question_count %></strong><span>|</span></li>
        <li>Time limit:<strong><%= user_exam.exam.time_limit %> minutes</strong></li>
      </ul>
      <% if user_exam.allow_answer? %><div class="submit">
        <%= link_to 'Continue<img src="/css/skip.png" alt="" />', edit_user_question_path(user_exam.next_question), :class => 'button skip' %>
        </div><% end %>
  <% end %></dd>
</dl>